
.footer {
    padding: 40px 0;
    color: #fff;    

    h5 {
        font-weight: normal;
    }
}

.footer__flex {

    @media #{$mq-medium} {
        display: flex;
        justify-content: space-between;
    }
}

.footer__ms-logo {
    margin-bottom: 1.25rem;

    img {
        display: block;
        width: 300px;
        margin: 0 auto;
    }

    @media #{$mq-medium} {
        margin: 0;
        padding-top: 3.2rem;
    }
}

.footer__event-logos {
    margin: 0 auto;
    text-align: center;

    span {
        display: block;
        text-align: center;
        margin-bottom: 1rem;

        @media #{$mq-medium} {
            text-align: left;
        }
    }

    @media #{$mq-medium} {
        margin: 0;
    }
}

.footer__link-list {
    margin-bottom: 2rem;

    ul {
        text-align: center;
        list-style: none;

        li {
            display: inline-block;
            border-right: 1px solid #fff;

            a {
                color: #fff;
                padding: 0px .75rem;
                font-size: 1.15rem;

                &:hover {
                    text-decoration: underline;
                }
            }

            &:last-of-type {
                border-right: none;
            }
        }
    }
}
