.header {
    @extend .container;
    position: relative;
    max-width: 1200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header__logo-container {
    display: block;

    img {
        width: 300px;
        margin: 0 auto;
        display: block;

        @media #{$mq-medium} {
            display: inline-block;
            width: 300px;
        }    
    }

    @media #{$mq-medium} {
        display: inline-block;
    }    
}

.header__banner {
    position: absolute;
    bottom: -60px;
    background-color: $darkNeutral;
    padding: 10px 20px;
    z-index: 9;
    transform: skew(-13deg, 0deg);
    width: 90%;

    @media #{$mq-medium} {
        bottom: -40px;
        width: auto;
    }

    h3 {
        color: $lightSecondary;
        text-transform: uppercase;
        font-weight: 400;
        transform: skew(13deg); /* UNSKEW */
    }
}

.header__right {
    width: 100%;
    height: 50px;
    
    @media #{$mq-medium} {
        float: right;
        width: 300px;
    }
}

.header__fundraise {
    display: inline-block;
    padding: 10px;
    
    @media #{$mq-medium} {
        margin: 40px 40px 0 0;
        display: inline-block;
        padding: 0px;
    }

    a {
        font-weight: 700;
        color: #443b2f;

        &:hover {
            color: #443b2f;
        }
    }
}

.hamburger {
    z-index: 999;
    cursor: pointer;
    float: right;
    width: 35px;
    height: 40px;

    @media #{$mq-medium} {
        margin-top: 25px;
    }
}

.hamburger__bar1, .hamburger__bar2, .hamburger__bar3 {
    width: 35px;
    height: 5px;
    background-color: $btn;
    margin: 6px 0;
    transition: 0.25s;
}

.hamburger-close {
    cursor: pointer;
    background-color: $primary;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size:2rem;
    font-weight: bold;
    color: #fff;
    line-height: 36px;
    padding: 0 0 0px 9px;
    @include skew;
    margin-left: 190px;
}

.nav {
    z-index: 100;
    position: absolute;
    top: 0;
    right: -150px;
    width: 0;
    height: 680px;
    background-color: $secondary;
    border: 2px solid $lightSecondary;
    padding: 30px;
    @include negSkew;
    transition: all .25s ease-in-out;

    @media #{$mq-medium} {
        height: 660px;
    }

    ul {
        padding-top: 2.5rem;
        padding-right: 1.75rem;
    }

    li {
        margin-bottom: 1rem;

        &:nth-of-type(1) {
            margin-left:60px;
        }
        &:nth-of-type(2) {
            margin-left:110px;
        }
        &:nth-of-type(3) {
            margin-left:130px;
        }
        &:nth-of-type(4) {
            margin-left:100px;
        }
        &:nth-of-type(5) {
            margin-left:200px;
        }
    }

    a {
        color: #fff;
        @include skew;
        font-size: 1.875rem;   
        text-align: right;
        text-transform: uppercase;
        font-weight: 400;

          span {
              display: block;
              font-size: 1.3rem;
              line-height: 1rem;
              text-transform: none;
          }
    }
}

.nav.nav-open {
    width: 500px;
    transition: all .25s ease-in-out;
}