.slider--tall {
    border: 1px solid #fff;
    margin: 0 4rem;

    @media #{$mq-large} {
        margin: 0;
    }

    p {
        margin-bottom: 2rem;
    }

    .slick-prev.slick-arrow {
        left: -4.75rem;
        z-index: 1;
        
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            background-image: url('../images/arrow-left.png');
            width:60px;
            height:60px;
            background-size: 100%;
        }
    }

    .slick-next.slick-arrow {
        right: -1rem;
        z-index: 1;
        
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            background-image: url('../images/arrow-right.png');
            width:60px;
            height:60px;
            background-size: 100%;
        }
    }    
}

.slider--tall__text-container {
    padding: 1.25rem 1.25rem 2rem 1.25rem;

    .heading--44 {
        font-size: 1.25rem;

        @media #{$mq-medium} {
            font-size: 2.75rem;
        }
    }
}

//hide skew overflows
.slick-initialized .slick-slide {
    position: relative;
    overflow: hidden;
}

.slider--overlays {
    position: relative;
    z-index: 0;

    img {
        padding: 0 4.5rem;

        @media #{$mq-large} {
            padding: 0;
        }
    }

    .slick-prev.slick-arrow {
        left: 2rem;
        z-index: 1;
        
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            left:-25px;
            background-image: url('../images/arrow-left-white.png');
            width:60px;
            height:60px;
            background-size: 100%;
        }
    }

    .slick-next.slick-arrow {
        right: 2rem;
        z-index: 1;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            right:-25px;
            background-image: url('../images/arrow-right-white.png');
            width:60px;
            height:60px;
            background-size: 100%;
        }
    }
}
//mobile
.slide-overlay--mobile {    
    border: 1px solid $primary;
    border-right: none;
    background-color: $secondary;
    color: #fff;
    z-index: 99;
    padding: 1.5rem 3rem;
    height: 9.375rem;

    @media #{$mq-large} {
        display: none;
    }
}

.slide-overlay--mobile-top {
    @extend .slide-overlay--mobile;
    text-transform: uppercase;
    font-size: 1.5rem;    
}

.slide-overlay--mobile-bottom {
    @extend .slide-overlay--mobile;
    font-size: 1.3rem;
}

//desktop 
.slide-overlay {
    display: none;
    border: 1px solid $primary;
    background-color: $secondary;
    color: #fff;
    z-index: 99;
    max-width: 50%;

    @media #{$mq-large} {
        display: block;
    }
}

.slide-overlay--top {
    @extend .slide-overlay;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 1.5rem 1.5rem 1.5rem 3rem;
    position: absolute;
    top: 0;
    left: 0;
}

.slide-overlay--bottom {
    @extend .slide-overlay;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.slider--multiple {
    margin: 0 4rem;

    @media #{$mq-xxlarge} {
        margin: 0;
    }

    .slick-prev.slick-arrow {
        left: -4.75rem;
        z-index: 1;
        
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            background-image: url('../images/arrow-left-white.png');
            width:60px;
            height:60px;
            background-size: 100%;
        }
    }

    .slick-next.slick-arrow {
        right: -1rem;
        z-index: 1;
        
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            -webkit-transform: translate(0, -50%);
            -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
            background-image: url('../images/arrow-right-white.png');
            width:60px;
            height:60px;
            background-size: 100%;
        }
    }    
}


.slider--multiple__slide {
    margin: 0 1rem;
    border: 1px solid #000;

    img {
        width: 100%;
    }
}