* {
    @include box-sizing;
}

html {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: normal;
}

html, body {
    //prevent horizontal scroll
    max-width: 100%;
    overflow-x: hidden;
    position:relative;
}

body {
    font-family: $body-font;
    font-weight:300;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 555px;
    padding:0 20px;
    margin: 0 auto;
}

.container--850 {
    @extend .container;
    position: relative;
    max-width: 850px;
}

.container--1200 {
    @extend .container;
    position: relative;
    max-width: 1200px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container--1200--no-padding {
    width: 100%;
    max-width: 1200px;
    padding:0;
    margin: 0 auto;
    position: relative;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

a {
    display: inline-block;
    cursor: pointer!important;
    text-decoration: none;
    color: $primary;

    &:hover {
        color: $link-hover;
    }
}

p {
    font-weight: 500;
    font-size: 1.05rem;
    line-height: 1.6rem;
    margin-top: 1rem;

    @media #{$mq-small} {
        font-size: 1.15rem;
        line-height: 1.75rem;
    }

    @media #{$mq-medium} {
        font-weight: 300;
    }
}

.btn-wrapper {
    display: inline-block;
    width: 100%;
}

.btn {
    display: block;
    padding: .75rem 1.5rem;
    font-size: 1rem;
    background: $btn;
    color: #fff;
    border: 1px solid #fff;
    font-family: $body-font;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 900!important;
    text-decoration: none;
    margin: 0 auto;
    width: fit-content;

    &:hover {
        background: $btn-hover;
        color: #fff;
    }
}

//Helpers
.white {
    color:#fff;
}

.primary {
    color: $primary;
}

.secondary {
    color: $secondary;
}

.padding-top-bottom--1rem {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.padding-top--1rem {
    padding-top: 1rem;
}

.padding-bottom--1rem {
    padding-bottom: 1rem;
}

.padding-left-right--1rem {
    padding-left: 1rem;
    padding-right: 1rem;
}

.padding-top--30 {
    padding-top: 30px;
}

.padding-top-bottom--30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.padding-top--50 {
    padding-top: 40px;

    @media #{$mq-medium} {
        padding-top: 50px;
    }
}

.padding-top-bottom--70 {
    padding-top: 35px;
    padding-bottom: 35px;

    @media #{$mq-medium} {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}

.padding-top--70 {
    padding-top: 40px;

    @media #{$mq-medium} {
        padding-top: 70px;
    }
}

.padding-bottom--70 {
    padding-bottom: 40px;

    @media #{$mq-medium} {
        padding-bottom: 70px;
    }
}

.padding-top-bottom--90 {
    padding-top: 40px;
    padding-bottom: 40px;

    @media #{$mq-medium} {
        padding-top: 90px;
        padding-bottom: 90px;
    }
}

.padding-top--90 {
    padding-top: 40px;

    @media #{$mq-medium} {
        padding-top: 90px;
    }
}

.padding-bottom--90 {
    padding-bottom: 40px;

    @media #{$mq-medium} {
        padding-bottom: 90px;
    }
}

.padding-top--100 {
    padding-top: 40px;

    @media #{$mq-medium} {
        padding-top: 100px;
    }
}

.padding-top-bottom--100 {
    padding-top: 40px;
    padding-bottom: 40px;

    @media #{$mq-medium} {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.padding-top-bottom--110 {
    padding-top: 40px;
    padding-bottom: 40px;

    @media #{$mq-medium} {
        padding-top: 110px;
        padding-bottom: 110px;
    }
}

.padding-bottom--110 {
    padding-bottom: 40px;

    @media #{$mq-medium} {
        padding-bottom:110px;
    }
}

.padding-top-bottom--125 {
    padding-top: 40px;
    padding-bottom: 40px;

    @media #{$mq-medium} {
        padding-top: 125px;
        padding-bottom: 125px;
    }
}

.padding-bottom--130 {
    padding-bottom: 40px;

    @media #{$mq-medium} {
        padding-bottom: 130px;
    }
}

.padding-top-bottom--130 {
    padding-top: 40px;
    padding-bottom: 40px;

    @media #{$mq-medium} {
        padding-top: 130px;
        padding-bottom: 130px;
    }
}

.padding-top-bottom--150 {
    padding-top: 60px;
    padding-bottom: 60px;

    @media #{$mq-medium} {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

//form elements
input, select, button {
    cursor: pointer;
}

input, textarea {
    font-family: $body-font;
    padding: 15px;
    font-size: 1.250rem;
    border-radius: 5px;
    font-weight: 600;
    border: none;

    @media screen and (-webkit-min-device-pixel-ratio:0) {
        /* stop field zoom on iOS */
        font-size: 1.250rem;
    }
}


select::-ms-expand {
    display: none; 
}

submit {
    @extend .btn;
    cursor: pointer;
}

button {
    outline: none;
}

.show-mobile {
    display: block;

    @media #{$mq-medium} {
        display: none;
    }
}

.hide-mobile {
    display: none;

    @media #{$mq-medium} {
        display: block;
    }
}

.font-weight-medium {
    font-weight: 500;
}

//full width backgrounds
.gray-background {
    background-color: $darkNeutral;
}

.light-gray-background {
    background-color: $lightNeutral;
}