
/*Edge and 11*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

    .gray-blocks-background {
        background-image: url(../../img/overlay-pattern-gray-blocks.jpg);
    }

    .red-blocks-background {
        background-image: url(../../img/overlay-pattern-red-blocks.jpg);
    }

    .red-blocks-tall-background {
        background-image: url('../../img/overlay-pattern-red-blocks-tall.jpg');
    }

    .red-blocks-half-width {
        background-image: url(../../img/overlay-pattern-red-blocks.jpg);
    }

    .navbar__inner {
        max-width:none;
        justify-content:flex-start;
    }

    .featured-slider .slick-prev {
        left: -55px;
    }

    .featured-slider .slick-next {
        right: -55px;
    }

    .featured-slider .slick-prev, .featured-slider .slick-next {
        height:86px;
    }

    .testimonial-slider .slick-prev, .testimonial-slider .slick-next {
        height: 86px;
    }

    .featured-slider__slide {
        img {
            width:100%;
        }
    }

    .card-grid--check {
        .three-col-item {
            flex-basis: 25%;
        }
    }

    .navbar__nav-search-container {
        left:-280px!important;
    }

    .checkbox-list-indent {
        input[type='checkbox'] {
            display:inline-block;
            width:14px;
        }        
    }

    .contact-disclaimer--checkbox {
        input[type='checkbox'] {
            display: inline-block;
            width: 14px;
        }
    }

    .productFinder input[type=search] {
        line-height:22px!important;
    }
}

/*IE and above 768*/
@media all and (-ms-high-contrast: none) and (min-width: 768px) {
    .two-col-item {
        flex-basis: 42%;
    }
}


/*IE and above 980*/
@media all and (-ms-high-contrast: none) and (min-width: 980px) {

}

/*IE and above 1151*/
@media all and (-ms-high-contrast: none) and (min-width: 1151px) {

}

/* IE and above 1350*/
@media all and (-ms-high-contrast: none) and (min-width: 1350px) {

}

/* Edge and above */
@supports (-ms-ime-align:auto) {

}

/* Safari 10.1+ */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        h1, h2, h3 {
            font-weight: normal;
        }
    }
}

/*Firefox*/
@-moz-document url-prefix() {

}

/* Mac OS - Safari and Chrome browsers*/
@media screen and (-webkit-min-device-pixel-ratio:0) {

}

/* iOS devices */
@supports (-webkit-overflow-scrolling: touch) {

}


//general 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}