
/*Edge and 11*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

}

/*IE and above 768*/
@media all and (-ms-high-contrast: none) and (min-width: 768px) {

}


/*IE and above 980*/
@media all and (-ms-high-contrast: none) and (min-width: 980px) {

}

/*IE and above 1151*/
@media all and (-ms-high-contrast: none) and (min-width: 1151px) {

}

/* IE and above 1350*/
@media all and (-ms-high-contrast: none) and (min-width: 1350px) {

}

/* Edge and above */
@supports (-ms-ime-align:auto) {

}

/* Safari 10.1+ */
@media not all and (min-resolution:.001dpcm) {
    @supports (-webkit-appearance:none) {
        h1, h2, h3 {
            font-weight: normal;
        }
    }
}

/*Firefox*/
@-moz-document url-prefix() {

}

/* Mac OS - Safari and Chrome browsers*/
@media screen and (-webkit-min-device-pixel-ratio:0) {

}

/* iOS devices */
@supports (-webkit-overflow-scrolling: touch) {

}


//general 
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}