/* Breakpoints */
$mq-xsmall: "only screen and (min-width:400px)";
$mq-small-width: 400px;
$mq-small: "only screen and (min-width:480px)";
$mq-small-width: 480px;
$mq-medium: "only screen and (min-width:768px)";
$mq-medium-width: 768px;
$mq-large: "only screen and (min-width:992px)";
$mq-large-width: 992px;
$mq-xlarge: "only screen and (min-width:1200px)";
$mq-xlarge-width: 1200px;
$mq-xxlarge: "only screen and (min-width:1500px)";
$mq-xxlarge-width: 1500px;

// To use... @media #{variable}

/* Colors */
$primary: #fe7d1f;
$darkPrimary: #f06f16;
$secondary: #007582; //Brand Blue
$lightSecondary: #00adbc;
$neutral: #61594f;
$lightNeutral: #f5f3ef;
$darkNeutral: #2d2a26;
$body-font-color: #000000;

$btn: #cc3f10; //Primary Brand Color;
$btn-hover: #b81c2b;

$link: #000;
$link-hover: blue;

$skew: skew(13deg);
$negSkew: skew(-13deg);

/* fonts */
$body-font: 'Source Sans Pro', sans-serif;
$heading-font: 'Montserrat', sans-serif;
$heading-font-bold: 'Montserrat', sans-serif;